.s {
  color: #dedede;
  margin-top: 30px;
}
.q {
  font-size: 15px;
  padding: 15px 6% 25px 6%;
}
.v {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #0b1115;
}
.d {
  padding: 16px 0 15px 0;
}

