<div class="inner-hero container">
  <div class="container">
    <h3 class="text-center w">Контакты</h3>
    <div class="row animate-in text-size-main" data-anim-type="fade-in-up">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="contact-wrapper text-center text-size">
          <h4><strong>Пишите нам: </strong>moiport@gmail.com</h4>
          <h4><strong>Звоните нам: </strong><a href="tel:+375447556515">+375447556515</a></h4>
          <h4><strong>Приезжайте к нам: </strong>г. Минск, ул. Ложинская, 4</h4>
          <h4><strong>Мы работаем: </strong>каждый день с 8.00 до 23.00</h4>
        </div>
      </div>
    </div>
    <div id="maps">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2348.161967671659!2d27.682596515839148!3d53.946630880109204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x272d8be3cecabc4f!2z0JDQstGC0L7QvNC-0LnQutCwIC0g0KjQuNC90L7QvNC-0L3RgtCw0LYgItCc0L7QudCf0L7RgNGCIg!5e0!3m2!1sru!2sby!4v1521640897752" scrolling="no"
              marginheight="0" marginwidth="0" height="400px" width="100%"></iframe>
    </div>
  </div>
</div>
