<div id="myCarousel" class="carousel slide " data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner ">
    <div class="item active">
      <img class="foto" data-src="../../../assets/img/g.png" alt="First slide"
           src="../../assets/img/g.png">
      <div class="container">
        <div class="carousel-caption">
        </div>
      </div>
    </div>
    <div class="item">
      <img class="foto" data-src="../../../assets/img/g.png" alt="First slide"
           src="../../assets/img/g.png">
      <div class="container">
        <div class="carousel-caption">
        </div>
      </div>
    </div>
    <div class="item">
      <img class="foto" data-src="../../../assets/img/g.png" alt="First slide"
           src="../../assets/img/g.png">
      <div class="container">
        <div class="carousel-caption">
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span
    class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next"><span
    class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<div class="container marketing">
  <div class="row text-center">
    <div class="col-sm-3 f">
      <a routerLink="service">
        <img class="block" data-src="holder.js/140x140" alt="140x140"
             src="../../assets/img/auto-1327801_1920.jpg"
             style="width: 180px; height: 120px;">
      </a>
    </div>
    <div class="col-sm-3 f">
      <a routerLink="service">
        <img class="block" data-src="holder.js/140x140" alt="140x140"
             src="../../assets/img/auto-1327801_1920.jpg"
             style="width: 180px; height: 120px;">
      </a>
    </div>
    <div class="col-sm-3 f">
      <a routerLink="service">
        <img class="block" data-src="holder.js/140x140" alt="140x140"
             src="../../assets/img/auto-1327801_1920.jpg"
             style="width: 180px; height: 120px;">
      </a>
    </div>
    <div class="col-sm-3 f">
      <a routerLink="service">
        <img class="block" data-src="holder.js/140x140" alt="140x140"
             src="../../assets/img/auto-1327801_1920.jpg"
             style="width: 180px; height: 120px;">
      </a>
    </div>
  </div>
</div>
