.s {
  color: #dedede;
  margin-top: 30px;
}
.q {
  font-size: 15px;
  padding: 15px 6% 25px 6%;
}
.d {
  padding: 16px 0 15px 0;
}
.fon {
  background: rgba(243, 243, 243, 0.18);
  box-shadow: 0 0 80px rgba(255, 255, 255, 0.27);
}
.v {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #0b1115;
}
.far {
  color: #0b1115;
  margin-top: 20px;
}
.vv {
  padding-top: 20px;
}
