<div class="container">
  <div class="v-hidden marg">
    <div id="v-window-1">
      <h3 class="text-center d">Шиномонтаж автомобилей</h3>
      <table class="info-order fon ">
        <tr>
          <td colspan="1" width="20%"></td>
          <td colspan="3" width="80%">Легковые автомобили, минивены</td>
        </tr>
        <tr>
          <td width="22%"><span class="main-span">Услуги</span></td>
          <td width="22%"><span class="main-span">Вид диска</span></td>
          <td width="8%"><span class="main-span">R13</span></td>
          <td width="8%"><span class="main-span">R14</span></td>
          <td width="8%"><span class="main-span">R15</span></td>
          <td width="8%"><span class="main-span">R16</span></td>
          <td width="8%"><span class="main-span">R17</span></td>
          <td width="8%"><span class="main-span">R18</span></td>
          <td width="8%"><span class="main-span">R19-R22</span></td>
        </tr>
        <tr>
          <td width="22%"><p class="main-p">Демонтаж</p></td>
          <td width="22%"></td>
          <td width="8%">2 руб</td>
          <td width="8%">2 руб</td>
          <td width="8%">2 руб</td>
          <td width="8%">2.5 руб</td>
          <td width="8%">3 руб</td>
          <td width="8%">3.5 руб</td>
          <td width="8%">3.5 руб</td>
        </tr>
        <tr>
          <td width="22%"><p class="main-p">Монтаж</p></td>
          <td width="22%"></td>
          <td width="8%">2 руб</td>
          <td width="8%">2 руб</td>
          <td width="8%">2 руб</td>
          <td width="8%">2.5 руб</td>
          <td width="8%">3 руб</td>
          <td width="8%">3.5 руб</td>
          <td width="8%">3.5 руб</td>
        </tr>
        <tr>
          <td width="22%" rowspan="2"><p class="main-p">Балансировка (стоимость грузов оплачивается
            дополнительно)</p></td>
          <td width="22%">Стальной диск</td>
          <td width="8%">2 руб</td>
          <td width="8%">2 руб</td>
          <td width="8%">2 руб</td>
          <td width="8%">2 руб</td>
          <td width="8%">2 руб</td>
          <td width="8%">2 руб</td>
          <td width="8%">2.5 руб</td>
        </tr>
        <tr>
          <td width="22%">Литой диск</td>
          <td width="8%">3 руб</td>
          <td width="8%">3 руб</td>
          <td width="8%">3 руб</td>
          <td width="8%">3 руб</td>
          <td width="8%">3 руб</td>
          <td width="8%">3 руб</td>
          <td width="8%">3.5 руб</td>
        </tr>
        <tr>
          <td width="22%"><p class="main-p">Снятие колеса с автомобиля</p></td>
          <td width="22%"></td>
          <td width="8%">1.5 руб</td>
          <td width="8%">1.5 руб</td>
          <td width="8%">1.5 руб</td>
          <td width="8%">1.75 руб</td>
          <td width="8%">2 руб</td>
          <td width="8%">2.5 руб</td>
          <td width="8%">3 руб</td>
        </tr>
        <tr>
          <td width="22%"><p class="main-p">Установка колеса на автомобиль</p></td>
          <td width="22%"></td>
          <td width="8%">1.5 руб</td>
          <td width="8%">1.5 руб</td>
          <td width="8%">1.5 руб</td>
          <td width="8%">1.75 руб</td>
          <td width="8%">2 руб</td>
          <td width="8%">2.5 руб</td>
          <td width="8%">3 руб</td>
        </tr>
        <tr>
          <td width="22%" rowspan="2"><p class="main-p">Комплекс 1 колеса*</p></td>
          <td width="22%">Стальной диск</td>
          <td width="8%">9 руб</td>
          <td width="8%">9 руб</td>
          <td width="8%">9 руб</td>
          <td width="8%">10.5 руб</td>
          <td width="8%">12 руб</td>
          <td width="8%">14 руб</td>
          <td width="8%">15.5 руб</td>
        </tr>
        <tr>
          <td width="22%">Литой диск</td>
          <td width="8%">10 руб</td>
          <td width="8%">10 руб</td>
          <td width="8%">10 руб</td>
          <td width="8%">11.5 руб</td>
          <td width="8%">13 руб</td>
          <td width="8%">15 руб</td>
          <td width="8%">16.5 руб</td>
        </tr>
        <tr>
          <td width="22%" rowspan="2"><p class="main-p">Комплекс 4 колеса*</p></td>
          <td width="22%">Стальной диск</td>
          <td width="8%">36 руб</td>
          <td width="8%">36 руб</td>
          <td width="8%">36 руб</td>
          <td width="8%">42 руб</td>
          <td width="8%">48 руб</td>
          <td width="8%">56 руб</td>
          <td width="8%">62 руб</td>
        </tr>
        <tr>
          <td width="22%">Литой диск</td>
          <td width="8%">40 руб</td>
          <td width="8%">40 руб</td>
          <td width="8%">40 руб</td>
          <td width="8%">46 руб</td>
          <td width="8%">52 руб</td>
          <td width="8%">60 руб</td>
          <td width="8%">66 руб</td>
        </tr>
      </table>
      <table class="info-order fon">
        <tr>
          <td colspan="1" width="20%"></td>
          <td colspan="3" width="80%">Джипы, Микроавтобусы</td>
        </tr>
        <tr>
          <td width="22%"><span class="main-span">Услуги</span></td>
          <td width="22%"><span class="main-span">Вид диска</span></td>
          <td width="8%"><span class="main-span">R13</span></td>
          <td width="8%"><span class="main-span">R14</span></td>
          <td width="8%"><span class="main-span">R15</span></td>
          <td width="8%"><span class="main-span">R16</span></td>
          <td width="8%"><span class="main-span">R17</span></td>
          <td width="8%"><span class="main-span">R18</span></td>
          <td width="8%"><span class="main-span">R19-R22</span></td>
        </tr>
        <tr>
          <td width="22%"><p class="main-p">Демонтаж</p></td>
          <td width="22%"></td>
          <td width="8%">2.5 руб</td>
          <td width="8%">2.5 руб</td>
          <td width="8%">2.5 руб</td>
          <td width="8%">3 руб</td>
          <td width="8%">3.5 руб</td>
          <td width="8%">3.5 руб</td>
          <td width="8%">3.5 руб</td>
        </tr>
        <tr>
          <td width="22%"><p class="main-p">Монтаж</p></td>
          <td width="22%"></td>
          <td width="8%">2.5 руб</td>
          <td width="8%">2.5 руб</td>
          <td width="8%">2.5 руб</td>
          <td width="8%">3 руб</td>
          <td width="8%">3.5 руб</td>
          <td width="8%">3.5 руб</td>
          <td width="8%">3.5 руб</td>
        </tr>
        <tr>
          <td width="22%" rowspan="2"><p class="main-p">Балансировка (стоимость грузов оплачивается
            дополнительно)</p></td>
          <td width="22%">Стальной диск</td>
          <td width="8%">2 руб</td>
          <td width="8%">2 руб</td>
          <td width="8%">2 руб</td>
          <td width="8%">2 руб</td>
          <td width="8%">2 руб</td>
          <td width="8%">2.5 руб</td>
          <td width="8%">2.5 руб</td>
        </tr>
        <tr>
          <td width="22%">Литой диск</td>
          <td width="8%">3 руб</td>
          <td width="8%">3 руб</td>
          <td width="8%">3 руб</td>
          <td width="8%">3 руб</td>
          <td width="8%">3 руб</td>
          <td width="8%">3.5 руб</td>
          <td width="8%">4.5 руб</td>
        </tr>
        <tr>
          <td width="22%"><p class="main-p">Снятие колеса с автомобиля</p></td>
          <td width="22%"></td>
          <td width="8%">1.75 руб</td>
          <td width="8%">1.75 руб</td>
          <td width="8%">1.75 руб</td>
          <td width="8%">2 руб</td>
          <td width="8%">2.5 руб</td>
          <td width="8%">3 руб</td>
          <td width="8%">3.5 руб</td>
        </tr>
        <tr>
          <td width="22%"><p class="main-p">Установка колеса на автомобиль</p></td>
          <td width="22%"></td>
          <td width="8%">1.75 руб</td>
          <td width="8%">1.75 руб</td>
          <td width="8%">1.75 руб</td>
          <td width="8%">2 руб</td>
          <td width="8%">2.5 руб</td>
          <td width="8%">3 руб</td>
          <td width="8%">3.5 руб</td>
        </tr>
        <tr>
          <td width="22%" rowspan="2"><p class="main-p">Комплекс 1 колеса*</p></td>
          <td width="22%">Стальной диск</td>
          <td width="8%">10.5 руб</td>
          <td width="8%">10.5 руб</td>
          <td width="8%">10.5 руб</td>
          <td width="8%">12 руб</td>
          <td width="8%">14 руб</td>
          <td width="8%">15.5 руб</td>
          <td width="8%">16.5 руб</td>
        </tr>
        <tr>
          <td width="22%">Литой диск</td>
          <td width="8%">11.5 руб</td>
          <td width="8%">11.5 руб</td>
          <td width="8%">11.5 руб</td>
          <td width="8%">13 руб</td>
          <td width="8%">15 руб</td>
          <td width="8%">16.5 руб</td>
          <td width="8%">18.5 руб</td>
        </tr>
        <tr>
          <td width="22%" rowspan="2"><p class="main-p">Комплекс 4 колеса*</p></td>
          <td width="22%">Стальной диск</td>
          <td width="8%">42 руб</td>
          <td width="8%">42 руб</td>
          <td width="8%">42 руб</td>
          <td width="8%">48 руб</td>
          <td width="8%">56 руб</td>
          <td width="8%">62 руб</td>
          <td width="8%">66 руб</td>
        </tr>
        <tr>
          <td width="22%">Литой диск</td>
          <td width="8%">46 руб</td>
          <td width="8%">46 руб</td>
          <td width="8%">46 руб</td>
          <td width="8%">52 руб</td>
          <td width="8%">60 руб</td>
          <td width="8%">66 руб</td>
          <td width="8%">74 руб</td>
        </tr>
      </table>
      <table class="info-order fon">
        <tr>
          <td width="70%"><span class="main-span">Услуги</span></td>
          <td width="30%"><span class="main-span">Стоимость</span></td>
        </tr>
        <tr>
          <td width="70%" align="left"><p class="main-p">Ремонт боковых порезов
            (горячая вулканизация), от</p></td>
          <td width="30%">6 руб</td>
        </tr>
        <tr>
          <td width="70%" align="left"><p class="main-p">Устранение утечки воздуха
            по диску (герметизация)</p></td>
          <td width="30%">1 руб</td>
        </tr>
        <tr>
          <td width="70%" align="left"><p class="main-p">Ремонт бескамерной шины простой</p></td>
          <td width="30%">4 руб</td>
        </tr>
        <tr>
          <td width="70%" align="left"><p class="main-p">Ремонт бескамерной шины сложный
            (усиленная латка)</p></td>
          <td width="30%">8 руб</td>
        </tr>
        <tr>
          <td width="70%" align="left"><p class="main-p">Ремонт камеры</p></td>
          <td width="30%">3 руб</td>
        </tr>
        <tr>
          <td width="70%" align="left"><p class="main-p">Замена вентиля (хром разборный)</p></td>
          <td width="30%">3.5 руб</td>
        </tr>
        <tr>
          <td width="70%" align="left"><p class="main-p">Замена вентиля (декаративный)</p></td>
          <td width="30%">2.5 руб</td>
        </tr>
        <tr>
          <td width="70%" align="left"><p class="main-p">Замена вентиля</p></td>
          <td width="30%">2 руб</td>
        </tr>
        <tr>
          <td width="70%" align="left"><p class="main-p">Подкачка колеса (проверка давления)
            воздухом на а/м (за колесо)</p></td>
          <td width="30%">1 руб</td>
        </tr>
        <tr>
          <td width="70%" align="left"><p class="main-p">Проверка покрышки на герметичность</p></td>
          <td width="30%">1 руб</td>
        </tr>
        <tr>
          <td width="70%" align="left"><p class="main-p">Установка камеры</p></td>
          <td width="30%">0.5 руб</td>
        </tr>
        <tr>
          <td width="70%" align="left"><p class="main-p">Погльзование домкратом шиномонтажа</p></td>
          <td width="30%">5 руб</td>
        </tr>
        <tr>
          <td width="70%" align="left"><p class="main-p">Пакет (1 штука)</p></td>
          <td width="30%">0.5 руб</td>
        </tr>
      </table>
    </div>
  </div>
</div>
