.marg {
  padding: 25px 0;
  color: #ffffff;
  text-align: center;
}
.d {
  padding: 0 0 16px 0;
}
.info-order {
  width: 98%;
  text-align: center;
  margin: 0 auto;
}
.info-order tr td:first-child {
  padding: 0 30px;
}
.info-order tr td {
  padding: 15px 0;
}
